<main>
    <section class="row">
        <h1 id="siteTitle">Welcome to Cumulative Project 3:<br /> mySchoolDb Application | Kyle Scott | N00352594</h1>
        <p class="lead">It is a simple Web API / MVC application that includes:</p>
        <ul>
            <li>
                From Cumulative Part 1:
            <ul>
            <li>
                A <strong>MVP 'Read' Functionality</strong> on a <a class="navlink" href="/Teacher/List">Teachers Database</a>
                <ul>
                    <li>Including a <strong>search interface</strong> to find a teacher (by name, hiredate and salary).</li>
                </ul>
            </li>

            <li>
                A <strong>MVP 'Read' Functionality</strong> on a <a class="navlink" href="/Student/List">Students Database</a>
                <ul>
                    <li>Including a <strong>search interface</strong> to find a student (by name, enrollment date and student number)</li>
                </ul>
            </li>

            <li>
                Updates to <strong>View/Shared/_Layout.cshtml</strong> and <strong>/Content/customStyles.css</strong> to significantly change the layout and design of your web application.
            </li>
                </ul>
                </li>
            <li>
                From Cumulative Part 2:
                <ul>
                    <li>
                        A <strong>MVP 'Add Functionality'</strong> on a Teachers Database.
                    </li>
                    <li>
                        A <strong>MVP 'Delete Functionality'</strong> on a Teachers Database.
                    </li>
                </ul>
            </li>
            <li>
                From Cumulative 3:
            
                <ul>
                    <li>
                        A <strong>MVP 'Update' Functionality</strong> on a Teachers Database.
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</main>